body{
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    flex-direction: column;

}

.area-login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Login{
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.Login form{
    flex-direction: column;
    display: flex;
    width: 100%;
}

.Login input{
    flex-direction: column;
    margin-top: 10px;
    background-color: #252A34;
    padding-left: 10px;
    color: #cbd0f7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

.Login img{
    flex-direction: column;
    width: 10px;
    height: 10px;
}

.input::placeholder{
    flex-direction: column;
    color: #CBD0F7;
    font-size: 14px;
}