@keyframes animacao1{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

div{
    margin-top:100px;
    margin-left: 100px;
    float: left;
    animation: animacao1 10s;
}
div:hover{
    /*transform: scale(1.5, 1.5);*/
    transform: rotate(720deg);
    /*transform: translate(40px, 30px);*/
    /*transform: skew(-20deg,0deg);*/
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: linear;
    transition: all 1s;
}
