body{
    background-color: #1C1C1C;
    color: antiquewhite;
  }
.Txtcard{
  color: #1C1C1C;
  border-radius: 15px;
  padding: 30px;
}
.sorteio{
  background-image: url("imagens/backgroundCs4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container2{
  background-color: #333131;
}
